<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %><br>
    <%= form.text_field :username, class: "form-control text-center" %><br>
  </div>

  <div class="field">
    <%= form.label :github_url %><br>
    <%= form.url_field :github_url, class: "form-control text-center", type: 'url' %><br>
  </div>

  <br>

  <div class="btn-group actions">
    <%= form.submit class: 'btn btn-lg btn-success'%>
    <%= link_to 'Cancel', :back, class: 'btn btn-lg btn-danger' %>
  </div>
  </div>
<% end %>
